.node-explorer-button {
  display: flex;
  padding: 0rem var(--Spacing-4, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-3, 0.75rem);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--Radius-3-max, 0.375rem);
  background: var(--Primary-White, #fff);
  border: 0px;
  color: var(--Colours-Dark, #10161b);
  font-size: var(--Typography-Font-size-3, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Typography-Line-height-3, 1.5rem);
  letter-spacing: var(--Typography-Letter-spacing-3, 0rem);
}

.node-explorer-button:hover {
  background: rgb(217, 217, 217);
}
