# Backend API URL
VITE_BASE_URL=http://aztec-p2p-explorer.dev-nethermind.xyz

# Cloudflare Turnstile Site Key
# Get your site key from: https://dash.cloudflare.com/?to=/:account/turnstile
# 1x00000000000000000000AA Always passes
# 2x00000000000000000000AB Always fails
# 3x00000000000000000000FF Produces a token with a timeout error
TURNSTILE_KEY=1x00000000000000000000AA
# 

# Optional: Disable sync status feature
# VITE_DISABLE_SYNC_STATUS=true

VITE_AZTEC_NETWORK=aztec-testnet
VITE_MAINNET_API_URL=http://localhost:8081