.map-view-button-container {
  display: flex;
  height: 3.75rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.map-view-button {
  display: flex;
  padding: 0rem var(--spacing-4);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);
  flex: 1 0 0;
  align-self: stretch;
  cursor: pointer;
  border: 0px;
  background: var(--primary-main);
}

.map-view-button:hover {
  filter: brightness(0.8);
}

.explore-map-text {
  color: var(--text-dark);
  font-size: var(--typography-font-size-3);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-line-height-3);
  letter-spacing: var(--typography-letter-spacing-3);
}
